[submodule "src/assets/language"]
	path = src/assets/language
	url = https://github.com/memochou1993/gh-rankings-language.git
[submodule "src/assets/location"]
	path = src/assets/location
	url = https://github.com/memochou1993/gh-rankings-location.git
